h1 {
  font-family: "Jua", sans-serif;
}

body {
  min-width: 250px;
  height: 300px;
  text-align: center;
}

img {
  margin: auto;
  width: 150px;
  margin-top: 25px;
}

button {
  border-radius: 8px;
  background-color: lightgreen;
  border: none;
  text-decoration: none;
  font-size: x-large;
  font-family: "Jua", sans-serif;
  width: 120px;
  margin-top: 15px;
}

button:hover {
  background-color: limegreen;
  cursor: pointer;
}

.wrapper {
  position: relative;
  height: 100%;
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #dc2626;
}

.yellow {
  background-color: #ffbf00;
}

.blue {
  background-color: #6eaff3;
}

.green {
  background-color: #32cd32;
}
